<header class="header">
    <div class="container-grid">
        <div>
            <nav>
                <ul class="contatoEsquerdo  contato">
                    <li><img src="assets/img/telephone-call 1.png" alt="Telefone"> <a class="contato_telefone contato768" href="#">51 3030-3030</a></li>
                    <li><img src="assets/img/o-email 1.png" alt="E-mail"><a class="contato_email contato768" href="#">sac@gmania.com.br</a></li>
                </ul>
            </nav>
        </div>
        <div>
            <nav class="logopesquisa">
                <a routerLink=""><img src="assets/img/logo_game_mania_verde_preto.png" alt="Logo loja Game Mania"></a>
                <div class="divbusca">
                    <input class="search_input" type="text" placeholder="busque o que você deseja..." >
                    <button type="submit"><img src="assets/img/procurar 1.png" alt="Pesquisa"></button>
            </div>
            </nav>
        </div>
        <div>
            <nav>
                <ul class="contatoDireito  contato">
                    <li><img src="assets/img/whatsapp 1.png" alt="whatsApp"><a class="contato_whats contato768" href="#">51 9 9999-9999</a></li>
                    <li><img src="assets/img/user 1.png" alt="Entrar"><a class="contato_logar" routerLink="login">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <hr class="linha_menu">

    <div class="categoria">
        <ul class="menuCategorias">
            <li><img src="assets/img/menu-aberto 1.png" alt="Menu" class="icon_menu"><a href="#">Derpatamentos<span><img src="assets/img/seta 1.png" alt="Menu Departamento" class="seta_menu"></span></a></li>

            <li><img src="assets/img/compt 1.png" alt="Comptadores"><a href="#">Computadores<span><img src="assets/img/seta 1.png" alt="Menu Comptadores" class="seta_menu"></span></a></li>

            <li><img src="assets/img/perifericosWhite 1.png" alt="Periféricos"><a href="#">Periféricos<span><img src="assets/img/seta 1.png" alt="Menu Periféricos" class="seta_menu"></span></a></li>

            <li><img src="assets/img/monitoresDark 1.png" alt="Monitores"><a href="#">Monitores<span><img src="assets/img/seta 1.png" alt="Menu Monitores" class="seta_menu"></span></a></li>

            <li><img src="assets/img/noteWhite 1.png" alt="Notebook"><a href="#">Notebook<span><img src="assets/img/seta 1.png" alt="Menu Notebook" class="seta_menu"></span></a></li>

            <li><img src="assets/img/linhaGamerWhite 1.png" alt="Linha Gamer"><a href="#">Linha Gamer<span><img src="assets/img/seta 1.png" alt="Menu Linha Gamer" class="seta_menu"></span></a></li>

            <li><img src="assets/img/console 1.png" alt="Consoles"><a href="#">Consoles<span><img src="assets/img/seta 1.png" alt="Menu Consoles" class="seta_menu"></span></a></li>
        </ul>
    </div>
</header>
