    <main>
        <!-- Inicio dos banners ------------------------------------------->
        <section class="carouselteste">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="assets/img/1630672643_banner1.jpg" class="d-block w-100" alt="Banner 1">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/1630672644_banner2.jpg" class="d-block w-100" alt="Banner 2">
                  </div>
                  <div class="carousel-item">
                    <img src="assets/img/1630672644_banner3.jpg" class="d-block w-100" alt="Banner">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </section>
        <!-- Final dos Banners ---------------------------------------------------->
        <!-- <hr class="linha_abaixo_banner"> -->
       <!-- Inicio menu condições ------------------------------------->
        <section class="div_menu_condicoes">
            <div class="menu_condicoes">
                <ul class="condicoes">
                     <li><img src="assets/img/cartao 1.svg" alt="Cartão Parcelamento"><a href="#">Parcelamento<span><br> até 12x sem juros</span></a></li>
                    <li><img src="assets/img/frete_gratis.svg" alt="Caminhão frete"><a href="#">Frete Grátis<span><br>acima de R$199</span></a></li>
                    <li><img src="assets/img/entregaSvg 1.svg" alt="Entrega"><a href="#">Entrega<span><br>em todo o Brasil</span></a></li>
                    <li><img src="assets/img/cadeado 1.svg" alt="Cadeado de garantia"><a href="#">Garantia<span><br>Compre conosco</span></a></li>
                </ul>
            </div>
        </section>
        <hr class="linha_abaixo_banner">
        <!-- Final menu condições --------------------------------------->

        <!-- Inicio Carrossel novidades ------------------------------------------------>
        <section class="container_lancamentos">
            <div class="container-xl">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="lancamento"><b>Lançamentos</b></h2>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>   
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="item carousel-item active">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/img/computador_pichau_gamer_45_1_fc90b989f7016120f6b24bcd9e3d97b8 1.png" class="img-fluid" alt="">									
                                            </div>
                                            <div class="thumb-content">
                                                <h4>CPU Torre PowerEdge T140</h4>
                                                <p class="item-price"><b>R$ 999.99</b><span><br> ou 12x de R$ 83,33 sem juros</span></p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/img/computador_pichau_gamer_45_1_fc90b989f7016120f6b24bcd9e3d97b8 1.png" class="img-fluid" alt="Headphone">
                                            </div>
                                            <div class="thumb-content">
                                                <h4>CPU Torre PowerEdge T140</h4>
                                                <p class="item-price"><b>R$ 999.99</b><span><br> ou 12x de R$ 83,33 sem juros</span></p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>		
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/img/computador_pichau_gamer_45_1_fc90b989f7016120f6b24bcd9e3d97b8 1.png" class="img-fluid" alt="Macbook">
                                            </div>
                                            <div class="thumb-content">
                                                <h4>CPU Torre PowerEdge T140</h4>
                                                <p class="item-price"><b>R$ 999.99</b><span><br> ou 12x de R$ 83,33 sem juros</span></p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>								
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/img/computador_pichau_gamer_45_1_fc90b989f7016120f6b24bcd9e3d97b8 1.png" class="img-fluid" alt="Nikon">
                                            </div>
                                            <div class="thumb-content">
                                                <h4>CPU Torre PowerEdge T140</h4>
                                                <p class="item-price"><b>R$ 999.99</b><span><br> ou 12x de R$ 83,33 sem juros</span></p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item carousel-item">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/img/computador_pichau_gamer_45_1_fc90b989f7016120f6b24bcd9e3d97b8 1.png" class="img-fluid" alt="Play Station">
                                            </div>
                                            <div class="thumb-content">
                                                <h4>CPU Torre PowerEdge T140</h4>
                                                <p class="item-price"><b>R$ 999.99</b><span><br> ou 12x de R$ 83,33 sem juros</span></p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>				
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/img/computador_pichau_gamer_45_1_fc90b989f7016120f6b24bcd9e3d97b8 1.png" class="img-fluid" alt="Macbook">
                                            </div>
                                            <div class="thumb-content">
                                                <h4>CPU Torre PowerEdge T140</h4>
                                                <p class="item-price"><b>R$ 999.99</b><span><br> ou 12x de R$ 83,33 sem juros</span></p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>				
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/img/computador_pichau_gamer_45_1_fc90b989f7016120f6b24bcd9e3d97b8 1.png" class="img-fluid" alt="Speaker">
                                            </div>
                                            <div class="thumb-content">
                                                <h4>CPU Torre PowerEdge T140</h4>
                                                <p class="item-price"><b>R$ 999.99</b><span><br> ou 12x de R$ 83,33 sem juros</span></p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>					
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/img/computador_pichau_gamer_45_1_fc90b989f7016120f6b24bcd9e3d97b8 1.png" class="img-fluid" alt="Galaxy">
                                            </div>
                                            <div class="thumb-content">
                                                <h4>CPU Torre PowerEdge T140</h4>
                                                <p class="item-price"><b>R$ 999.99</b><span><br> ou 12x de R$ 83,33 sem juros</span></p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>						
                                </div>
                            </div>
                            <div class="item carousel-item">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/img/computador_pichau_gamer_45_1_fc90b989f7016120f6b24bcd9e3d97b8 1.png" class="img-fluid" alt="iPhone">
                                            </div>
                                            <div class="thumb-content">
                                                <h4>CPU Torre PowerEdge T140</h4>
                                                <p class="item-price"><b>R$ 999.99</b><span><br> ou 12x de R$ 83,33 sem juros</span></p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>					
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/img/computador_pichau_gamer_45_1_fc90b989f7016120f6b24bcd9e3d97b8 1.png" class="img-fluid" alt="Canon">
                                            </div>
                                            <div class="thumb-content">
                                                <h4>CPU Torre PowerEdge T140</h4>
                                                <p class="item-price"><b>R$ 999.99</b><span><br> ou 12x de R$ 83,33 sem juros</span></p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/img/computador_pichau_gamer_45_1_fc90b989f7016120f6b24bcd9e3d97b8 1.png" class="img-fluid" alt="Pixel">
                                            </div>
                                            <div class="thumb-content">
                                                <h4>CPU Torre PowerEdge T140</h4>
                                                <p class="item-price"><b>R$ 999.99</b><span><br> ou 12x de R$ 83,33 sem juros</span></p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>					
                                        </div>
                                    </div>	
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                            <div class="img-box">
                                                <img src="assets/img/computador_pichau_gamer_45_1_fc90b989f7016120f6b24bcd9e3d97b8 1.png" class="img-fluid" alt="Watch">
                                            </div>
                                            <div class="thumb-content">
                                                <h4>CPU Torre PowerEdge T140</h4>
                                                <p class="item-price"><b>R$ 999.99</b><span><br> ou 12x de R$ 83,33 sem juros</span></p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>					
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control-prev carousel_interno_esq" href="#myCarousel" data-slide="prev" style="background-image: url('assets/img/setaesq.svg');">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="carousel-control-next carousel_interno_dir" href="#myCarousel" data-slide="next" style="background-image: url('assets/img/setadir.svg');">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </section>
         <!-- Final Carrossel novidades ----------------------------------------------->
         <section class="div_duplo_banner" >
            <div class="duplo_banner1" style="background-image: url('assets/img/galaxia_1820x600.png');">
                <ul class="banners2">
                    <li><a href="#"><img src="assets/img/banner-mouse.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/banner-teclado.png" alt=""></a></li>
                </ul>
            </div>
        </section>

            <!-- Inicio Carrossel Outlet ---------------------------------------------->
        <section class="container_outlet">
            <div class="container-xl">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="outlet"><b>Ofertas da semana</b></h2>
                        <div id="myCarouseloutlet" class="carousel slide" data-ride="carousel" data-interval="0">
                        <!-- Carousel indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarouseloutlet" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarouseloutlet" data-slide-to="1"></li>
                            <li data-target="#myCarouseloutlet" data-slide-to="2"></li>
                        </ol>   
                        <!-- Wrapper for carousel items -->
                        <div class="carousel-inner">
                            <div class="item carousel-item active">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon-off"><p class="off">50% OFF</p></span>
                                            <div class="img-box">
                                                <img src="assets/img/cadeira_gamer_dazz_serie_m_161_1_1fa23fae6bb8d0020ec30cc6063047d2 1.png" class="img-fluid" alt="">									
                                            </div>
                                            <div class="thumb-content">
                                                <h4>Cadeira Gamer dazz serie m 161</h4>
                                                <p class="item-price"><span>De R$ 999.99</span><br><b>R$ 499.99</b><br> ou 12x de R$ 83,33 sem juros</p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon-off"><p class="off">50% OFF</p></span>
                                            <div class="img-box">
                                                <img src="assets/img/cadeira_gamer_dazz_serie_m_161_1_1fa23fae6bb8d0020ec30cc6063047d2 1.png" class="img-fluid" alt="">									
                                            </div>
                                            <div class="thumb-content">
                                                <h4>Cadeira Gamer dazz serie m 161</h4>
                                                <p class="item-price"><span>De R$ 999.99</span><br><b>R$ 499.99</b><br> ou 12x de R$ 83,33 sem juros</p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon-off"><p class="off">50% OFF</p></span>
                                            <div class="img-box">
                                                <img src="assets/img/cadeira_gamer_dazz_serie_m_161_1_1fa23fae6bb8d0020ec30cc6063047d2 1.png" class="img-fluid" alt="">									
                                            </div>
                                            <div class="thumb-content">
                                                <h4>Cadeira Gamer dazz serie m 161</h4>
                                                <p class="item-price"><span>De R$ 999.99</span><br><b>R$ 499.99</b><br> ou 12x de R$ 83,33 sem juros</p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>						
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon-off"><p class="off">50% OFF</p></span>
                                            <div class="img-box">
                                                <img src="assets/img/cadeira_gamer_dazz_serie_m_161_1_1fa23fae6bb8d0020ec30cc6063047d2 1.png" class="img-fluid" alt="">									
                                            </div>
                                            <div class="thumb-content">
                                                <h4>Cadeira Gamer dazz serie m 161</h4>
                                                <p class="item-price"><span>De R$ 999.99</span><br><b>R$ 499.99</b><br> ou 12x de R$ 83,33 sem juros</p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item carousel-item">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon-off"><p class="off">50% OFF</p></span>
                                            <div class="img-box">
                                                <img src="assets/img/cadeira_gamer_dazz_serie_m_161_1_1fa23fae6bb8d0020ec30cc6063047d2 1.png" class="img-fluid" alt="">									
                                            </div>
                                            <div class="thumb-content">
                                                <h4>Cadeira Gamer dazz serie m 161</h4>
                                                <p class="item-price"><span>De R$ 999.99</span><br><b>R$ 499.99</b><br> ou 12x de R$ 83,33 sem juros</p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon-off"><p class="off">50% OFF</p></span>
                                            <div class="img-box">
                                                <img src="assets/img/cadeira_gamer_dazz_serie_m_161_1_1fa23fae6bb8d0020ec30cc6063047d2 1.png" class="img-fluid" alt="">									
                                            </div>
                                            <div class="thumb-content">
                                                <h4>Cadeira Gamer dazz serie m 161</h4>
                                                <p class="item-price"><span>De R$ 999.99</span><br><b>R$ 499.99</b><br> ou 12x de R$ 83,33 sem juros</p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon-off"><p class="off">50% OFF</p></span>
                                            <div class="img-box">
                                                <img src="assets/img/cadeira_gamer_dazz_serie_m_161_1_1fa23fae6bb8d0020ec30cc6063047d2 1.png" class="img-fluid" alt="">									
                                            </div>
                                            <div class="thumb-content">
                                                <h4>Cadeira Gamer dazz serie m 161</h4>
                                                <p class="item-price"><span>De R$ 999.99</span><br><b>R$ 499.99</b><br> ou 12x de R$ 83,33 sem juros</p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon-off"><p class="off">50% OFF</p></span>
                                            <div class="img-box">
                                                <img src="assets/img/cadeira_gamer_dazz_serie_m_161_1_1fa23fae6bb8d0020ec30cc6063047d2 1.png" class="img-fluid" alt="">									
                                            </div>
                                            <div class="thumb-content">
                                                <h4>Cadeira Gamer dazz serie m 161</h4>
                                                <p class="item-price"><span>De R$ 999.99</span><br><b>R$ 499.99</b><br> ou 12x de R$ 83,33 sem juros</p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>				
                                </div>
                            </div>
                            <div class="item carousel-item">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon-off"><p class="off">50% OFF</p></span>
                                            <div class="img-box">
                                                <img src="assets/img/cadeira_gamer_dazz_serie_m_161_1_1fa23fae6bb8d0020ec30cc6063047d2 1.png" class="img-fluid" alt="">									
                                            </div>
                                            <div class="thumb-content">
                                                <h4>Cadeira Gamer dazz serie m 161</h4>
                                                <p class="item-price"><span>De R$ 999.99</span><br><b>R$ 499.99</b><br> ou 12x de R$ 83,33 sem juros</p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon-off"><p class="off">50% OFF</p></span>
                                            <div class="img-box">
                                                <img src="assets/img/cadeira_gamer_dazz_serie_m_161_1_1fa23fae6bb8d0020ec30cc6063047d2 1.png" class="img-fluid" alt="">									
                                            </div>
                                            <div class="thumb-content">
                                                <h4>Cadeira Gamer dazz serie m 161</h4>
                                                <p class="item-price"><span>De R$ 999.99</span><br><b>R$ 499.99</b><br> ou 12x de R$ 83,33 sem juros</p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon-off"><p class="off">50% OFF</p></span>
                                            <div class="img-box">
                                                <img src="assets/img/cadeira_gamer_dazz_serie_m_161_1_1fa23fae6bb8d0020ec30cc6063047d2 1.png" class="img-fluid" alt="">									
                                            </div>
                                            <div class="thumb-content">
                                                <h4>Cadeira Gamer dazz serie m 161</h4>
                                                <p class="item-price"><span>De R$ 999.99</span><br><b>R$ 499.99</b><br> ou 12x de R$ 83,33 sem juros</p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="thumb-wrapper">
                                            <span class="wish-icon-off"><p class="off">50% OFF</p></span>
                                            <div class="img-box">
                                                <img src="assets/img/cadeira_gamer_dazz_serie_m_161_1_1fa23fae6bb8d0020ec30cc6063047d2 1.png" class="img-fluid" alt="">									
                                            </div>
                                            <div class="thumb-content">
                                                <h4>Cadeira Gamer dazz serie m 161</h4>
                                                <p class="item-price"><span>De R$ 999.99</span><br><b>R$ 499.99</b><br> ou 12x de R$ 83,33 sem juros</p>
                                                <a href="#" class="btn btn-primary">Adicionar no carrinho</a>
                                            </div>						
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Carousel controls -->
                        <a class="carousel-control-prev carousel_interno_esq" href="#myCarouseloutlet" data-slide="prev" style="background-image: url('assets/img/setaesq.svg');">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="carousel-control-next carousel_interno_dir" href="#myCarouseloutlet" data-slide="next" style="background-image: url('assets/img/setadir.svg');">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </section>
         <!-- Final Carrossel Outlet ----------------------------------------------->
         <!-- Redes sociais -->
        <section class="container-redes">
            <div> <img class="banner-fundoRedes" src="assets/img/galaxia_1820x250.jpg" alt="">
                <div><h2 class="divRedes">Siga nossas redes</h2></div>
                <ul class="redes-sociais">
                    <li><a href="https://www.facebook.com/" target="_blank"><img src="assets/img/facebook_colorido 1.png" alt="Facebbok">gamemania_oficial</a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram_colorido 1.png" alt="Instagram">@game_mania</a></li>
                    <li><a href="https://twitter.com/" target="_blank"><img src="assets/img/twitter_colorido 1.png" alt="Twitter">@game_mania</a></li>
                </ul>
            </div>
        </section>
        
        <section class="div_duplo_banner">
            <div class="duplo_banner">
                <ul class="banners2">
                    <li><a href="#"><img src="assets/img/1631291166_anuncio3 1.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/img/1631291166_anuncio4 1.png" alt=""></a></li>
                </ul>
            </div>
        </section>

        <!-- Redes sociais -->
    </main>
   