<hr class="linha_menu">
<footer class="footer-section">
    <div class="container">
        <div class="footer-cta pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-map-marker-alt"></i>
                        <div class="cta-text">
                            <h4>Endereço</h4>
                            <a href="https://www.google.com.br/maps" target="_blank"><span>Rua lorenzo floriano, Centro N°135<br>São Paulo - CEP 98678-356</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Fones</h4>
                            <a href="#" target="_blank"><img src="assets/img/telephone_roda_pe 1.png"><span>(51) 3030-3030</span></a><br>
                            <a href="#" target="_blank"><img src="assets/img/whatsapp_roda_pe 1.png"><span>(51) 9 999-9999</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>E-mail</h4>
                            <a href="#" target="_blank"><img src="assets/img/o-email_roda_pe 1.png"><span>sac@gmania.com.br</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html"><img src="assets/img/logo_game_mania_verde_preto.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>Estamos no mercado a 5 Anos, somos uma empresa especializada no segmento de venda e compra de Consoles e Jogos novos e usados, dando o melhor atendimento aos nossos cliente e trabalhando sempre com com produtos de qualidade.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Institucional</h3>
                        </div>
                        <ul>
                            <li><a href="#">Envio</a></li>
                            <li><a href="#">Como comprar</a></li>
                            <li><a href="#">Contato</a></li>
                            <li><a href="#">Troca Devolução</a></li>
                            <li><a href="#">Pedidos</a></li>
                            <li><a href="#">Tempo de Garantia</a></li>
                            <li><a href="#">Segurança</a></li>
                            <li><a href="#">Politica de Privacidade</a></li>
                            <li><a href="#">Pagamento</a></li>
                            <li><a href="#">Depoimento de Cliente</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Inscreva-se</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Cadastre seu e-mail e ganhe 10% de desconto na primeira compra!</p>
                        </div>
                        <div class="subscribe-form">
                            <form action="#">
                                <input type="text" placeholder="E-mail">
                                <button><img src="assets/img/telegram-plane-brands.png"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2022, todos os direitos reservados <a href="https://codepen.io/anupkumar92/">William Rosa</a></p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                    <div class="footer-menu">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">LGPD</a></li>
                            <li><a href="#">Privacidade</a></li>
                            <li><a href="#">Politica</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
